* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section {
    width: 100%;
    position: relative;
    color: black;
    background-color: gray;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
}

p {
    margin-top: 20px;
}

div.chicken {
    position: absolute;
    text-align: center;
    background-color: hotpink;
    font-weight: bold;
    width: 40%;
    height: 30px;
    color: black;
    font-size: 20px;
    padding: 5px 10px;
    top: 0%;
    right: 0%;
}

div.beef {
    position: absolute;
    text-align: center;
    background-color: red;
    font-weight: bold;
    width: 40%;
    height: 30px;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    top: 0%;
    right: 0%;
}

div.sushi {
    position: absolute;
    text-align: center;
    background-color: yellow;
    font-weight: bold;
    width: 40%;
    height: 30px;
    color: black;
    font-size: 20px;
    padding: 5px 10px;
    top: 0%;
    right: 0%;
}

@media (min-width: 992px) {
    .col-lg-4 {
        width: 31%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 45%;
        float: relative;
    }
}

@media (max-width: 767px) {
    .col-sm-12 {
        width: 100%;
    }
}
